<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/9/97/Bongo_Cat_Redraw.png" type="image/x-icon" />
</head>

<body>

  <div> Open console to see logs. </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Bongo_Cat_Redraw.png" alt="bongo">
</body>

</html>